@mixin body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: $color-body;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23b7b7b7' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
@mixin header {
  background: $color-header;
  text-align: center;
  padding: 0.1%;
}
@mixin flex-container-inicio {
  display: flex;
  padding: 1%;
  width: 95%;
  margin-top: 10%;
  margin-left: 1%;
}
@mixin grid-container-servicios {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  margin-top: 10%;
  margin-bottom: 5%;
}
@mixin corte-servicios {
  background-color: $color-servicios;
  text-align: center;
  width: 96%;
  margin: 1% 2% 2% 2%;
  font-size: 25px;
  border-radius: 15px;
}
@mixin cortes-texto {
  margin-top: 6%;
  margin-bottom: 6%;
  font-size: 20px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
@mixin texto-nosotros {
  background-color: $color-nosotros;
  margin-top: 10%;
  margin-bottom: 10%;
  border-radius: 15px;
}
@mixin sobre-nosotros {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: $negro;
  margin-top: 3%;
  margin-right: 2%;
  margin-left: 2%;
  text-align: justify;
}
@mixin boton-nosotros {
  text-align: center;
  margin-top: 3%;
  margin-left: 24%;
  margin-bottom: 3%;
  color: $blanco;
  padding: 3%;
  border-radius: 15px;
}
