.formulario-contacto {
  text-align: center;
  padding: 15%;
}
.formulario1-contacto {
  background-color: $color-contacto;
  text-align: center;
  border-radius: 15px;
}
.enviar-formulario {
  margin-top: 5%;
  margin-bottom: 5%;
}
.formulario-interior {
  margin-top: 5%;
}
#input {
  background-color: $color-input;
}
