$color-body: #ffffff;
$color-header: linear-gradient(#017a8a, #17555e);
$color-servicios: rgba(13, 204, 188, 0.233);
$color-nosotros: rgba(0, 0, 0, 0.178);
$color-boton--nosotros: linear-gradient(#e66465, #9198e5);
$color-contacto: rgba(217 203 203 / 23%);
$color-input: rgba(255, 255, 255, 0.432);
$blanco: white;
$rojo: rgb(219, 21, 21);
$azul: rgb(41, 21, 219);
$negro: black;
